@charset "utf-8";
body{
	font-family:"黑体-cs";
	font-size:18px;
	margin:0;
	padding:0;
}
.task_board header{
	border-bottom:1px solid #ccc;
	height:50px;
}
.task_board header p{
	vertical-align:middle;
	float:left;
}
.task_board header p.title{
	margin-left:20px;
}
.content{
	margin:0 auto;
	margin-top:20px;
	width:1100px;
}
.content .spectaculars{
	float:left;
	width:48%;
	height:306px;
	border:1px solid #ccc;
	margin-bottom:20px;
}
.content .spectaculars:nth-child(2n+1){
	margin-right:20px;
}
.content .spectaculars header{
	height:50px;
	border-bottom:1px solid #ccc;
	width:100%;
}
.content .spectaculars header a{
	float:right;
	line-height:50px;
	margin-right:18px;
	cursor:pointer;
}
.content .spectaculars header p{
	margin-left:18px;
}
.content .spectaculars header .division{
	
}
.content .spectaculars .news{
	display:block;
	float:left;
	width:100%;
	margin-bottom: 10px;
	font-size:14px;
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
}
.content .spectaculars .news .news1{
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	float:left;
	margin-left:15px;
}
.content .spectaculars .news .news2{
	margin-left:20px;
	float:left;
	line-height:24px;
}
.content .spectaculars .news .news3{
	margin-left:20px;
	float:left;
	line-height:24px;
}
.content .spectaculars .task{
	display:block;
	float:left;
	width:100%;
	margin-bottom: 10px;
	font-size:14px;
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
}
.content .spectaculars .task .task1{
	float:left;
	margin-left:15px;
	line-height:24px;
}
.content .spectaculars .task .task2{
	margin-left:20px;
	float:left;
	line-height:24px;
}
.content .spectaculars .task .task3{
	margin-left:20px;
	float:left;
	line-height:24px;
}
a{vertical-align: bottom; font-size: 12px;cursor:pointer;}
a:link { text-decoration: none;	color: #3f3f3f;	vertical-align: bottom; font-size: 12px;}
a:visited {	text-decoration: none; color: #009dd9; font-size: 12px;}
a:hover { text-decoration: underline; color: #d7191f; font-size: 12px;cursor:pointer;}
a:active { text-decoration: none; color: #3f3f3f; font-size: 12px;}
a[disabled]{color:#a1a1a1;font-weight: bold;}
.dftable a{color:##3f3f3f;font-weight: bold;font-family: "宋体";}
.dftable a[disabled]{color:#a1a1a1;}
